{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{%
  set taskCompleted = {
    tag: {
  		text: "Completed",
  		classes: "govuk-tag--green"
  	}
  }
%}

{%
  set taskIncomplete = {
    tag: {
      text: "Incomplete",
      classes: "govuk-tag--blue"
    }
  }
%}

{% set entityTitles = params.entityType | entityTitle %}

{% set title = entityTitles.singular %}
{% if params.entities|length > 1 %}
  {% set title = entityTitles.plural %}
{% endif %}

{% if params.entities|length > 0 %}
  {% if title %}
    <h2 class="govuk-heading-m">{{ title | capitalize }}</h2>
    <p class="govuk-hint">
      {% if params.entityType === 'article4direction' %}
        This dataset is about article 4 directions. These are directions from
        local planning authorities to withdraw specified permitted development
        rights across a defined area.
      {% elif params.entityType === 'article4directionarea' %}
        This dataset is about the geometry that each article 4 direction refers
        to.
      {% elif params.entityType === 'conservationarea' %}
        This dataset is about conservation areas. These are areas of special
        architectural or historic interest with a character or appearance that
        must be preserved or enhanced.
      {% elif params.entityType === 'conservationareadocument' %}
        This dataset is about conservation area documents. These are documents
        that describe a conservation area.
      {% elif params.entityType === 'treepreservationorder' %}
        This dataset is about tree preservation orders (TPOs). These are orders
        made by local planning authorities to protect specific trees, groups of
        trees or woodlands.
      {% elif params.entityType === 'tree' %}
        This dataset is about trees. These are individual trees that are under a
        tree preservation order.
      {% elif params.entityType === 'treepreservationzone' %}
        This dataset is about tree preservation zones. These are areas of trees
        that are under a tree preservation order. You may also know them as tree
        preservation zones or groups.
      {% endif %}
      <br />We found
      <strong>{{ params.entities.length }}</strong> {{ title | lower }} in your
      uploaded document.
    </p>
  {% endif %}

  {% set entityTasks = [] %}

  {% for entity in params.entities %}
    {% set taskStatus = taskIncomplete %}

    {% if entity.verified %}
      {% set taskStatus = taskCompleted %}
    {% endif %}

    {% set path = basePath ~ 'extractions/' ~ params.jobId ~ '/entity/' ~ entity.id %}
    {% if params.entityId %}
      {# this means its faking being an entity and its actually metadata #}
      {% set path = basePath ~ 'extractions/' ~ params.jobId ~ '/entity/' ~ params.entityId %}
    {% endif %}

    {%
      set _ = entityTasks.push({
      	title: { text: entity.properties.name },
      	href: path,
      	status: taskStatus
      })
    %}
  {% endfor %}

  {{ govukTaskList({ idPrefix: params.entityType, items: entityTasks}) }}
{% endif %}
