// any dependencies other than govuk base will go here
$selector: status-checker;

.#{status-checker} {
  // Styles for status checker component
  // &.#{status-checker}--active {
  // }

  &__alert {
    @include govuk-visually-hidden();
  }
}
