// any dependencies other than govuk base will go here
@import "../../../node_modules/govuk-frontend/dist/govuk/utilities/visually-hidden";

.status-checker {
  // Styles for status checker component
}
