{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% if params.status is defined %}

  {% set classes = "" %}
  {% if params.status == "awaiting_start" %}
    {% set classes = "govuk-tag--grey" %}
  {% elif params.status == "in_progress" %}
    {% set classes = "govuk-tag--grey" %}
  {% elif params.status == "completed" %}
    {% set classes = "govuk-tag--green" %}
  {% elif params.status == "failed" %}
    {% set classes = "govuk-tag--red" %}
  {% else %}
    {% set classes = "govuk-tag--grey" %}
  {% endif %}

  <status-checker job-id="{{ params.id }}" job-title="{{ params.title }}" api-path="{{ params.apiPath }}">
    {{ govukTag({text: params.status | replace("_", " "), classes: classes}) }}
  </status-checker>
{% endif %}
