{% extends "pattern-library/layouts/default.njk" %}
{% from "pattern-library/components/nav/macro.njk" import patternLibraryNav %}
{% from "pattern-library/components/section/macro.njk" import patternLibrarySection %}

{% block sidebar %}
  <h2>Components</h2>
  {{ patternLibraryNav({items: components}) }}

  <br />
  <br />

  <h2>Filters</h2>
  {{ patternLibraryNav({items: filters}) }}
{% endblock %}

{% block content %}

  {% for component in components %}
    {% if component.visible %}
      {%
        call patternLibrarySection({
          name: component.name,
          id: component.id,
          description: component.description,
          level: 1
        })
      %}
        {% if component.examples is defined %}
          {% for example in component.examples %}
            {% if example.visible %}
              {%
                call patternLibrarySection({
                  name: example.name,
                  id: component.id + "--" + example.id,
                  description: example.description,
                  level: 2
                })
              %}
                {%- include "./components/" + component.id + "/examples/" + example.id + ".njk" ignore missing -%}
              {% endcall %}
            {% endif %}
          {% endfor %}
        {% else %}
          {%- include "./components/" + component.id + "/example.njk" ignore missing -%}
        {% endif %}
      {% endcall %}
    {% endif %}
  {% endfor %}

  {% for filter in filters %}
    {% if filter.visible %}
      {%
        call patternLibrarySection({
          name: filter.name,
          id: filter.id,
          description: filter.description,
          level: 1
        })
      %}
        {% if filter.examples is defined %}
          {% for example in filter.examples %}
            {% if example.visible %}
              {%
                call patternLibrarySection({
                  name: example.name,
                  id: filter.id + "--" + example.id,
                  description: example.description,
                  level: 2
                })
              %}
                {%- include "./nunjucks/filters/" + filter.id + "/examples/" + example.id + ".njk" ignore missing -%}
              {% endcall %}
            {% endif %}
          {% endfor %}
        {% else %}
          {%- include "./nunjucks/filters/" + filter.id + "/example.njk" ignore missing -%}
        {% endif %}
      {% endcall %}
    {% endif %}
  {% endfor %}
{% endblock %}
