{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

<div class="hero">
  <div class="hero__container govuk-width-container">
    {{
      govukPhaseBanner({
        tag: {
          text: "Alpha"
        },
        html: params.feedbackHtml
      })
    }}
    <div class="hero__content">
      {% if params.title %}
        <h1 class="hero__title">{{ params.title }}</h1>
      {% endif %}
      {% if params.lede %}
        <p class="hero__lede">{{ params.lede }}</p>
      {% endif %}
    </div>
  </div>
</div>
