{% set errorMessages = [
  { href: '#name', text: 'Enter a name' },
  { href: '#email', text: 'Enter an email address' },
  { href: '#password', text: 'Enter a password' },
  { href: '#confirm-password', text: 'Confirm your password' }
] %}

{% set key = 'email' %}

{{ errorMessages | filterBy('href', '#' ~ key) | dump }}