{% from "components/entity-tasks/macro.njk" import entityTasks %}

{% set basePath = "/" %}
{% set job = {
  id: "123"
} %}


{{
  entityTasks({ 
    entityType: 'article4directionarea', 
    entities: testDatajobArticle4Direction.extraction_result.extracted_objects, 
    jobId: testDatajobArticle4Direction.id
  })
}}
