{% from "components/entity-tasks/macro.njk" import entityTasks %}

{% set basePath = "/" %}
{% set job = {
  id: "123"
} %}


{{
  entityTasks({ 
    entityType: 'conservationarea', 
    entities: testDatajobConservationArea.extraction_result.extracted_objects, 
    jobId: testDatajobConservationArea.id
  })
}}
