{%- from "govuk/components/tag/macro.njk" import govukTag -%}

<div class="title-component">
  {% if params.tag %}
    {{ govukTag({text: params.tag, classes: 'govuk-tag--grey' }) }}
  {% endif %}
  <h1>
    {% if params.caption %}
      <span class="govuk-caption-xl">{{ params.caption }}</span>
    {% endif %}
    {% if params.title %}
      <span class="govuk-heading-xl">{{ params.title }}</span>
    {% endif %}
  </h1>
</div>
