{% macro linkItem(name, href) %}
  <a href="{{ href }}"> {{ name }} </a>
{% endmacro %}

{% if params.items is defined and params.items|length > 0 %}
  <nav>
    <ul>
      {% for item in params.items %}
        {% set href = item.href | default('#' ~ item.id | default('')) %}
        {% if item.visible %}
          <li>
            {{ linkItem(item.name | default('Unnamed Item'), href) }}
            {# only show a link if there are multiple examples #}
            {% if item.examples is defined and item.examples|length > 1 %}
              <ul>
                {% for example in item.examples %}
                  {% set exampleHref = example.href | default(example.id | default('')) %}
                  <li>
                    {{ linkItem(example.name | default('Unnamed example'), href ~ '--' ~ exampleHref) }}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endif %}
