{% from "components/map/macro.njk" import mapComponent %}
{# mapStylesUrl: 'http://localhost:8081/api/map-style-os', #}
{# mapStylesSatelliteUrl: 'http://localhost:8081/api/map-style-satellite', #}
{% set testData = testDatajobTreePreservationOrder.extraction_result.extracted_objects[0] %}
{{
  mapComponent({
  	mapId: 'map-editing-point',
  	allowEdits: true,
  	dataSaveEndpoint: '/api/extractions/123/entity/456/geometry',
  	pdfUrl: '/example-upload.pdf',
  	data: testData
  })
}}
