
{% from "components/map/macro.njk" import mapComponent %}

{{ mapComponent({
	mapId: 'map-no-editing-point',
	pdfUrl: '/example-upload.pdf',
	data: testDatajobTreePreservationOrder.extraction_result.extracted_objects
}) }}
