$govuk-font-family: "Inter", system-ui, sans-serif !default;
$govuk-include-default-font-face: false !default;
// $govuk-assets-path: "/assets/" !default;

// 'Base' includes everything from settings, tools and helpers. Nothing
// in the base outputs any CSS.

@import "../../node_modules/govuk-frontend/dist/govuk/base";

// Basic content styles for typography, links etc. Approximately 10% of
// the CSS output if you include everything.

@import "../../node_modules/govuk-frontend/dist/govuk/core/index";

// Objects include things like the page template, grid and form groups.
// Approximately 5% of the CSS output if you include everything.

@import "../../node_modules/govuk-frontend/dist/govuk/objects/index";

// The components themselves - try to only include the components you
// are using in your project. Approximately 70% of the CSS output if
// you include everything.

@import "../../node_modules/govuk-frontend/dist/govuk/components/index";

// Utilities, for example govuk-clearfix or govuk-visually-hidden.
// Approximately 1% of the CSS output if you include everything.

@import "../../node_modules/govuk-frontend/dist/govuk/utilities/index";

// Overrides, used to adjust things like the amount of spacing on an
// element. Override classes always include `-!-` in the class name.
// Approximately 15% of the CSS output if you include everything.

@import "../../node_modules/govuk-frontend/dist/govuk/overrides/index";
