@layer settings, tools, generic, elements, objects, components, trumps;
/* // ITCSS structure */

@import url("./styles/_01-settings.css") layer(settings);
@import url("./styles/_02-tools.css") layer(tools);
@import url("./styles/_03-elements.css") layer(elements);
@import url("./styles/_components--card.css") layer(components);
@import url("./styles/_components--layout.css") layer(components);
@import url("./styles/_components--skip-link.css") layer(components);
