// any dependencies other than govuk base will go here
@import "../../../node_modules/govuk-frontend/dist/govuk/core/typography";
@import "../../../node_modules/govuk-frontend/dist/govuk/core/links";

$selector: copy-text;

.#{$selector} {
  button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    @extend %govuk-body-m;
    @extend %govuk-link;
    color: $govuk-link-colour;
    cursor: pointer;
  }

  &__feedback {
    @extend %govuk-body-m;
  }
}
