$govuk-font-family: "Inter", system-ui, sans-serif !default;
$govuk-include-default-font-face: false !default;
$govuk-rebrand: true !default;
// $govuk-assets-path: "/assets/" !default;

@import "./../node_modules/govuk-frontend/dist/govuk/base";

// components
@import "./components/ai-notice/index";
@import "./components/example-component/index";
@import "./components/extraction-list/index";
@import "./components/hero/index";
@import "./components/loading-spinner/index";
@import "./components/pdf/index";
@import "./components/status-checker/index";
@import "./components/title/index";
@import "./components/simple-map/index";
@import "./components/pdf/index";
@import "./components/location-info/index";
@import "./components/copy-text/index";
