$govuk-font-family: system-ui, sans-serif !default;
// $govuk-assets-path: "/assets/" !default;

@import "./../node_modules/govuk-frontend/dist/govuk/base";

// components
@import "./components/ai-notice/index";
@import "./components/example-component/index";
@import "./components/extraction-list/index";
@import "./components/hero/index";
@import "./components/loading-spinner/index";
@import "./components/pdf/index";
@import "./components/status-checker/index";
@import "./components/title/index";
@import "./components/simple-map/index";
