@import "../../../node_modules/@geoman-io/maplibre-geoman-free/dist/maplibre-geoman.css";
@import "../../../node_modules/maplibre-gl/dist/maplibre-gl.css";

// any dependencies other than govuk base will go here
$selector: map-component;

#{$selector} {
  .govuk-label {
    max-width: fit-content;
  }
}
