{% extends "govuk/template.njk" %}
{% include "layouts/partials/scripts.njk" %}
{% include "layouts/partials/styles.njk" %}

{% block head %}
  {% include "layouts/partials/styles.njk" %}
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
  {% block beforeContent %}
  {% endblock %}
  {% block content %}
  {% endblock %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block bodyEnd %}
  {% include "layouts/partials/scripts.njk" %}
{% endblock %}
