{% from "components/location-info/macro.njk" import locationInfo %}

{{
  locationInfo({
  filename: "TPO_38 _15-1.pdf",
  address: "Daintry Street, Oakhill, Stoke-on-Trent",
  easting: 386875,
  northing: 343876,
  lat: 52.99205243310385,
  lng: -2.1969858810409884,
  zoom: 16,
  styled: true
  })
}}
